In [1]:
# 파이썬 함수 다루기

In [2]:
print(10 + 20)

30

In [3]:
print(200 + 100)

300

In [6]:
def add(): #함수를 만드는 것 => definition(정의)
    print("나를 호출하셨군요...") #함수를 사용하는 것 => call(호출)

In [7]:
add()

나를 호출하셨군요...

In [8]:
def add2(x, y):
    print("두 수의 합은:", x+y)

In [9]:
add2(100, 200)

두 수의 합은: 300

In [10]:
def minus(x, y):
    print("두 수의 차는", x-y)

In [11]:
minus(50, 5)

두 수의 차는 45

In [12]:
def mul(x, y):
    print("두 수의 곱은", x*y)

In [13]:
mul(10, 5)

두 수의 곱은 50

In [14]:
def div(x, y):
    print("두 수의 나누기는", x/y)

In [15]:
div(10, 2)

두 수의 나누기는 5.0

In [33]:
num1 = input("숫자1 입력: ")
num2 = input("숫자2 입력: ")

숫자1 입력: 10000
숫자2 입력: 5

In [34]:
n1 = int(num1)
n2 = int(num2)

In [35]:
# print(n1 + n2)

In [36]:
oper = input("연산자를 입력(+, -, *, / 중 하나) ")

연산자를 입력(+, -, *, / 중 하나) -

In [37]:
if oper == "+":
    add2(n1, n2)
if oper == "-":
    minus(n1, n2)
if oper == "*":
    mul(n1, n2)
if oper == "/":
    div(n1, n2)

두 수의 차는 9995

In [41]:
def foodtotal(person) :
    price = 5000
    return person*price

In [45]:
total = foodtotal(5) #반환값이 있는 형태의 함수는 결과값을 변수에 넣어준다

In [47]:
if (total >= 50000):
    print("당신의 금액은", total-5000, "원 입니다")
else :
    print("당신의 금액은", total, "원 입니다")

당신의 금액은 25000 원 입니다

In [48]:
hobby = ["승마", "달리기", "등산", "먹기"]

In [50]:
hobby[3] = "걷기"

In [51]:
for h in hobby:
    print(h)

승마
달리기
등산
걷기

In [52]:
hobby.append("날기")

In [53]:
for h in hobby:
    print(h)

승마
달리기
등산
걷기
날기

In [54]:
s=["hera@naver.com", "gardenpro@daum.net", "korea@koera.co.kr"]

In [55]:
for x in s:
    print(x)

SyntaxError: invalid syntax (<ipython-input-55-74d3eac6aa67>, line 1)

In [ ]:

if s.endswith(".com"):
    print("닷컴 회사시군요.")
elif s.endswith(".net"):
    print("닷넷 회사시군요.")
elif s.endswith(".rk"):
    print("한국에 있는 회사군요.")    
else s.endswith(".net"):
    print("저도 잘 모르겠어요.")